
body{
    background-color: rgb(59, 58, 58);
}



.galeria{
    background-color: #222;
    padding: 240px;
    display: grid;
    grid-gap: 10px;
grid-template-columns:  2fr  2fr  2fr;
border: 1px solid black;
color: aliceblue;
font-size: 3rem;
transition:  transform 0.5s;
width: 100%;

}





#texto{
    background-color: rgb(187, 187, 194);
    color: aliceblue;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid black;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    padding: 2rem;
}


#targeta1{

    background-color: rgba(25, 25, 26, 0.959);
padding: 100px;
border: 5px solid rgb(1, 250, 42);
border-radius: 20px;
box-shadow: 10px 10px 10px rgb(11, 97, 3);
transition: 200ms;
}

#targeta1:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}

#targeta2{
   
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
    transition: 200ms;

}

#targeta2:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}

#targeta3{
    
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
transition: 200ms;
}


#targeta3:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}

#targeta4{
    
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
    transition: 200ms;
}

#targeta4:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}


#targeta5{
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
    transition: 200ms;

}

#targeta5:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}

#targeta6{
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
    transition: 200ms;
}

#targeta6:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}

#targeta7{
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);;
    transition: 200ms;
}


#targeta7:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}

#targeta8{
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
    transition: 200ms;
    
}

#targeta8:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}

#targeta9{
    background-color: rgba(25, 25, 26, 0.959);
    padding: 100px;
    border: 5px solid rgb(1, 250, 42);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
    transition: 200ms;
}


#targeta9:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 6px rgb(36, 37, 37);
}


/* Footer */
#pie{
    background-color: rgb(17, 17, 17);
    padding: 80px;
    border: 5px solid black;
    text-align: center;
    color: white;
}


/* Botones */

#boton1{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton2{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton3{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton4{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton5{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton6{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton7{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton8{
    padding: 25px;
    font-size: xx-large;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton9{
    padding: 25px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 30px;
    width: 20%;
}

#boton9:hover{
    background-color: rgb(101, 101, 93);
}


/* Carrito */


.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(201, 193, 193);
    width:400vh;
    padding: 100px;
    
  }
  
  .products {
    flex: 1;
  }
  
  .product {
    
    padding: 150px;
    margin-bottom: 10px;
  }
  
  .cart {
    flex: 1;
    text-align: center;
    background-color: rgb(30, 31, 31);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    width: 70vh;
    font-size: 40px;
    color: #afadad;
    padding: 14vh;
    text-align: left;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 5px 12px rgb(4, 119, 4);
  }
  
  .cart-items {
    border: 1px solid #050505;
    padding: 10px;
    width: 40vh;
  }

.añadir-carrito{
    background-color: green;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    transition: 0.5s;
}

.añadir-carrito:hover{
   background-color: gray;
}

.carrito-barra{
    display: flex;
    
}

#marca{
    margin-right:150px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #128b07;
    font-size: 5rem;
}

#precio{
    text-shadow: 2px 2px 4px #e41e04;
    font-size: 5rem;
    
}


#titulo-carrito{
    font-size: 4rem;
}



button.remove-from-cart{
    background-color: red;
    border-radius: 3vh;
    border: 2px solid black;
    color: aliceblue;
    transition: 0.5s;
}

button.remove-from-cart:hover{
    background-color: rgb(100, 97, 97);

}

#contenedor-carrito{
    background-color: rgb(19, 211, 19);
}

/* Estilos Variados */

.titulo02{
    
    padding: 50px;
    background-color: #c7c0bff6;
    text-align: center;
    font-size: 10rem;
    color: rgb(248, 10, 10);
    box-shadow: 10px 10px 10px rgb(11, 97, 3);
}
